@font-face {
    font-family: 'ALK Life';
    src: url('fonts/alk-life-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/alk-life-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/alk-life-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/alk-life-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/alk-life-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/alk-life-webfont.svg#alk_liferegular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Dongle';
    src: url('Dongle-Bold.eot');
    src: url('Dongle-Bold.eot?#iefix') format('embedded-opentype'),
        url('Dongle-Bold.woff2') format('woff2'),
        url('Dongle-Bold.woff') format('woff'),
        url('Dongle-Bold.ttf') format('truetype'),
        url('Dongle-Bold.svg#Dongle-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');