
.kartuli-absoluturi {
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.kartuli-relatiuri {
    font-family: "ALK Life", sans-serif;
    margin-bottom: 30px;
    text-indent: 50px;
}
.font1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    text-indent: 50px;
    letter-spacing: 3px;
    line-height: 20px;
}
.font2 {
    font-family: 'Dongle', sans-serif;
    margin-top: 30px;
    text-transform: capitalize;
    text-indent: 50px;
}