.header {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
}
.navigation {
    display: inline-block;
    vertical-align: middle;
}
.nav {
    display: inline-block;
    margin-right: 22px;
    color: blue;
}
.active {
    color: darkorange;
}
.container {
    margin-left: 50px;
    width: 1000px;
}
.date {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-color: blue;
    font-size: 35px;
    padding: 7px;
}
.title {
    margin-top: 20px;
    font-size: 22px;
}
.banner {
    width: 300px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}
.text1{
    width: 600px;
    display: inline-block;
    text-indent: 30px;
    font-size: 18px;
    vertical-align: top;
}